---
import Layout from '../layouts/astro/main.astro';
---
<Layout desc='roxies little special place' title='home'>
    <h1>Heyyyy</h1>
    <p>
        welcome to the website ill use to present all my schoolwork!<br>
        There isnt much content here right now, just some example files which will soon be replaced, Ill try to
        commit all my work on a friday so that it is new and refreshed each week!
    </p>
    <h2>Thanks for visiting!</h2>
    <p>:3</p><br>
    <p>also if you where wondering how this site works please visit <a href="./web">here</a></p>
</Layout>