html {
    overflow: hidden;
    background-color: black;
}

hr {
    border-color: white !important;
}

#sidebar {
    width: 20vw;
    height: 100vh;
    border-right: 3px solid crimson;
    padding: 1vh;
    overflow-y: scroll;
    display: block;
}
#maincont {
    display: block;
    width: 100%;
    padding: 2vw;
}
#full {
    display: flex;
}

@media (max-width: 768px) {
    #sidebar {
        right: 0;
        width: 100%;
        height: auto;
        max-height: 15vh;
        position: relative;
        display: block;
        top: 0;
        left: 0;
        padding: 1vw;
        overflow-y: auto;
        z-index: 1000;
        border-right: none;
        border-bottom: 3px solid crimson;
        margin-bottom: 5vh;
    }
    #full {
        display: block;
    }
    #maincont {
        padding: 0;
    }
}


.folder {
    width: 100%;
    height: 25px;
    cursor: pointer;
    padding: 5px;
    box-sizing: border-box;
    position: relative;
    border-bottom: 1.5px solid crimson;
}

.folder:hover{
    background-color: #000;  
}

.file {
    width: 100%;
    height: 25px;
    background-color: #131c26;
    padding: 5px;
    box-sizing: border-box;
    border-bottom: 1.5px solid crimson;
    overflow: hidden;
}

.file:hover {
    background-color: #2e2e2e;  
}

.hold {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    padding-left: 20px;
    padding-top: 0;
    position: relative;
}

.hold.open {
    max-height: 10000000000px;
    opacity: 1;
}
