---
interface Props {
	title: string;
  desc: string;
  upDate: string;
}

const { desc } = Astro.props;
const { title } = Astro.props;
const { upDate } = Astro.props;
---
<div style="display: flex; flex-direction: column; position: relative; width: auto;" id="hood">
  <div style="display: flex; align-items: center;">
    <input type="text" id="searchBar" placeholder="Search...">
    <p>{ desc } - { title } - {upDate}</p>
  </div>
  <div id="dropdown" style="position: relative; width: 200px;">
    <div id="results" style="position: absolute;"></div>
  </div>
</div>
