---

---
<div id="sidebar">
    <div class="folder">folder 1</div>
    <div class="hold">
        <div class="file">item 1</div>
        <div class="file">item 2</div>
        <div class="folder">subfolder 1</div>
        <div class="hold">
            <div class="file">item a</div>
        </div>
    </div>
    <div class="folder">test</div>
    <div class="hold">
        <div class="file">:3</div>
    </div>
    <div class="file">item x</div>
</div>
<script src="../res/js/script.js"></script>