---

---
<div id="sidebar">
    <a href="/" title="Roxies school website"><div class="file">home</div></a>
    <a href="/web" title="why i should not be trusted to use a computer"><div class="file">how this website works</div></a>
    <hr style="margin: 0;margin-bottom: 2.5vh;margin-top: 1.25vh;">
    <p style="margin-bottom: 5px;">dir:</p>
</div>
<script src="../res/js/parse.js" />